html, body {
  height: 100%;
  width: 100%;
}
h2, h3, h4{color: white}
body{background-color: purple}
label{color: white}
fieldset{border: 3px solid lime; width: 70%;white}
a{color: white; font-size:18px; border: 4px solid black; background-color: black}